{% extends "template1.html" %}
{% block title %}Inicio{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 p-5 pr-5 pd-5">
            <!-- se implemento un if en atributo action para discriminar los metodos update y create -->
            <form action="{{url_for('category.delete_categoria',id=cat.id)}}" method="POST" class="shadow-lg">
                {{form.csrf_token()}}
                <div class="container bg-dark text-white p-3 pr-3 pd-3 rounded">

                    <div class="row d-flex justify-content-center">
                        <div class="col d-flex justify-content-center mb-4"><h3 class="title text-white">
                            ¿Seguro que desea eliminar '{{cat.nombre}}'?</h3></div>
                        <div class="w-100"></div>
                        <div class="col-4 d-flex justify-content-center">{{form.si(size="40", class="rounded")}}</div>
                        <div class="col-4 d-flex justify-content-center">{{form.no(size="40", class="rounded")}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}