{% extends "template1.html" %}
{% block title %}Inicio{% endblock %}


{% block content %}
<table class="table">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">categoria</th>
      <th scope="col">id</th>
      {% if current_user.is_authenticated and current_user.is_admin() %}
      <th scope="col">modificar</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for e in categorias: %}    
    <tr>
      <th scope="row"></th>
        <td>{{e.nombre}}</td>
        <td>{{e.id}}</td>
        {% if current_user.is_authenticated and current_user.is_admin() %}
        <td><a href="{{url_for('category.delete_categoria',id=e.id )}}">delete</a></td>
        {% endif %}

    </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}