{% extends "template1.html" %}
{% block title %}Inicio{% endblock %}


{% block content %}
<table class="table">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Videojuego</th>
      <th scope="col">precio</th>
      <th scope="col">Categorias</th>
      <th scope="col">CategoriaId</th>
    </tr>
  </thead>
  <tbody>
    {% for e in Articulos: %}
    <tr>
      <th scope="row"></th>
      <td>{{e.nombre}}</td>
      <td>{{e.precio}}</td>
      <td>{{e.categoria.nombre}}</td>
      <td>{{e.CategoriaId}}</td>
    </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}