{% extends "template1.html" %}
{% block title %}Carrito{% endblock %}


{% block content %}
<table class="table mt-2">
  <thead>
    <tr>
      <th scope="col">Articulo</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio total</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>


    {% if cookie%}

    {% for juego in cookie %}
    <tr>
      {% for key,value in juego.items()%}
      {%if key != "id" %}
      <td>{{value}}</td>
      {% endif %}
      {% endfor %}
      <td><a href="{{url_for('shopping_cart.carro_delete', id=juego.id)}}">Eliminar</a></td>

    </tr>
    {% endfor %}
    {% else %}
    <td>
      <h3>No hay articulos en el Carrito</h3>
    </td>

    {% endif %}

  </tbody>
</table>
{% if precio != 0 %}
<div class="container-fluid pl-2">
  <div class="row">
    <div class="col d-flex justify-content-start">
      <h4>Pago total= {{precio}}</h4>
      <a href="{{url_for('shopping_cart.pedido')}}"> <button class="btn btn-dark ml-4"> Ir a pagar</button> </a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}